/* EventsSection.css */
.event-card {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
  
    h3 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  
    p {
      color: #666;
      margin-bottom: 0.5rem;
    }
  
    a {
      color: #007bff;
      text-decoration: none;
      /* &:hover {
        text-decoration: underline;
      } */
    }
  }
.event-card:hover{
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}
.event-card a:hover{
    text-decoration: underline;
}